body {
    background-image: url("../images/prismatic.png");
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
 }

 #bg{
     background-color: rgb(244, 107, 66, 0.6);
     background-attachment: fixed;

    
 }